/* HEADER */

header {
    background-color: #004684;
}

#fixacao img {
    margin-left: 20px !important;
}

#fixacao h2 {
    margin-left: 10px !important;
    margin-top: 20px;
    color: #ffffff;
}

#fixacao p {
    font-weight: bold;
    margin-left: 10px;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0.5px;
}

#fixacao p:hover {
    text-decoration: underline;
    font-size: 1.01em;
    transition: font-size 0.3s ease;
}

div a {
    font-family: 'Sofia Sans Condensed', sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    margin-right: 20px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-7.5px);
    }
}

div a.btn:hover {
    animation: bounce 1s ease;
    text-decoration: underline white;
}

@media (max-width: 575.98px) {

    .header .row .col-12,
    .header .row .col-sm-2 {
        text-align: center;
    }

    .header .row .col-12 h2,
    .header .row .col-12 a,
    .header .row .col-sm-2 img {
        margin-bottom: 10px;
        margin-right: 0px;
        margin-top: 10px;
        margin-left: 5px;
    }
}

header div h1 {
    font-size: 30px;
    color: #FFF;
}

.links-container {
    display: flex;
    flex-direction: row;
}

.links-container a {
    margin-right: 20px;
}

header #botaoRespostas {
    display: none;
}

@media (max-width: 575.98px) {
    .links-container {
        display: inline-block;
    }
}

/* HEADER FIM */

/* MAIN */

main article {
    border: gray 2px solid;
    border-top: 6px solid #FF0000;
    padding: 10px;
    margin-top: 30px;
    /* display: flex; */
}

main article p {
    float: left;
    font-weight: bold;
}

main article h2 {
    margin-top: 50px;
}

main article figure {
    margin-top: 100px;
    transition: transform 0.3s ease, cursor 0.3s ease;
}

main article figure:hover {
    transform: scale(1.1);
    cursor: pointer;
}

main article#doc {
    border-top: 6px solid #51a1c1;
}

main div.justify-content-center button.btn {
    display: none;
    background-color: rgb(187, 187, 187);
    border: 3px solid gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    
}

/* TESTE FORM POST EXERCÍCIO */

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 400px;
    padding: 10px;
    background-color: white;
  }
  

  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }

  .form-container .postar-button {
    margin-top: 20px;
  }

  .form-container .postar-button:hover {
    background-color: #39d69d;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }

  .form-container .cancel:hover {
    background-color: rgb(255, 103, 103);
  }
  

/* FIM TESTE */

/* FORMULÁRIO PARA ALUNO ENVIAR EXERCÍCIO */

/* TESTE FORM POST EXERCÍCIO */

/* The popup form - hidden by default */
.ex-popup {
    display: none;
    position: fixed;
    top: 46%;
    left: 21%;
    transform: translate(-50%, 50%);
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 400px;
    padding: 10px;
    background-color: white;
  }
  

  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }

  .form-container .postar-button {
    margin-top: 20px;
  }

  .form-container .postar-button:hover {
    background-color: #39d69d;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }

  .form-container .cancel:hover {
    background-color: rgb(255, 103, 103);
  }


/* FOOTER */
footer {
    
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #6e6e6e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #FFF;
}

.footerdireita,
.footeresquerda {
    padding-top: 16px;
    display: flex;
}

.footerdireita a {
    text-decoration: none;
    color: #FFF;
}

.footerdireita a:hover {
    text-decoration: underline;
}

footer #TERMOS {
    padding-right: 40px;
}

@media (max-width: 993px) {
    footer {
        position: relative;
    }
}
