/* HEADER */

header {
    background-color: #004684;
}

#fixacao img {
    margin-left: 20px !important;
}

#fixacao h2 {
    margin-left: 15px !important;
    margin-top: 20px;
    color: #ffffff;
}

#fixacao p {
    font-weight: bold;
    margin-left: 10px;
}

header p {
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0.5px;
}

div a {
    font-family: 'Sofia Sans Condensed', sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    margin-right: 20px;
}

/* HEADER FIM */

/* MAIN */

main article {
    border: gray 2px solid;
    border-top: 6px solid #FF0000;
    padding: 10px;
    /* display: flex; */
}

main article p {
    float: left;
    font-weight: bold;
}

main article h2 {
    margin-top: 50px;
}

main article figure {
    margin-top: 100px;
}